@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Rubik+Vinyl&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.tinos-regular {
    font-family: "Tinos", serif;
    font-weight: 400;
    font-style: normal;
  }

.tinos-bold {
font-family: "Tinos", serif;
font-weight: 700;
font-style: normal;
}